# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment variables
.env
.env.*

# Version control
.git
.gitignore

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
bom.drawio 